body {
    overflow-x: hidden;
}

.App {
    background-color: white;
    position: relative;
    overflow: hidden;
  }
  
  .Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 100%;
  }

    .Auth-form-container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  
  .Auth-form {
    width: 100%;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 8px;
    background-color: white;
  }

    .Auth-form-login {
    width: 420px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: white;
  }
  
  .Auth-form-content {
    padding-left: 7%;
    padding-right: 7%;
  }
  
  .Auth-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
  }
  
  label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
  }

  /* navbar */

.navbar {
  background-color: #060b26;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#dropdown-basic-button{
  /* margin-top: 10px; */
    margin-right: 2rem;
}
.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu {
  background-color: #060b26;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #060b26;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}

/* content */

.content-container{
  /* margin-left: 270px;*/
  margin-top: 80px; 
  display: flex;
  /* height: calc(100vh - 80px); */
  top: 100px;
  align-items: center;
  justify-content: center;
  width: calc(100vw - 00px);
  transition: 0.5s ease-in-out;
}


.nav-menu.active ~ .content-container{
  width: calc(100vw + 250px);
}